:root {
  --light-background: beige;
  --dark-background: #212121;

  --button-positive-color: #00b3ff;
  --button-positive-hover-color: #0c97dd;
  --button-negative-color: #dd3528;
  --button-negative-hover-color: #b81d12;
  --button-link-color: #008ac5;
  --button-link-hover-color: #1c51a0;

  --dark-button-positive-color: #42B6E8;
  --dark-button-positive-hover-color: #009ee1;
  --dark-button-negative-color: #dd3528;
  --dark-button-negative-hover-color: #b81d12;
  --dark-button-link-color: #2a78ed;
  --dark-button-link-hover-color: #004ab9;

  --bs-nav-tab-border: #dee2e6;
}

h1 {
  font-size: 2.5rem !important;
}

section.page {
  background-color: var(--light-background);
  height: auto !important;
  min-height: 95vh;
}

.theme-button {
  color: white;
  background-color: var(--button-positive-color);
}

.theme-button:hover {
  color: white;
  background-color: var(--button-positive-hover-color);
}

.button-negative {
  color: white;
  background-color: var(--button-negative-color);
}

.button-negative:hover {
  color: white;
  background-color: var(--button-negative-hover-color);
}

.button-link {
  background: none;
  border: none;
  color: var(--button-link-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.button-link:hover {
  color: var(--button-link-hover-color);
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
