hr {
  min-width: 100% !important;
}

nav {
  
  border-bottom: 1px solid var(--bs-nav-tab-border);
}

.character-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-page section {
  width: 60%;
}

.character-page nav {
  max-height: 50px;
  background-color: var(--light-background);
}

.section-title {
  max-width: fit-content;
  margin: 10px auto;
}

.button-edit {
  position: absolute;
  right: 100px;
  margin-top: 10px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}

.menu-bar .btn {
  background-color: var(--button-positive-color);
  border-color: var(--button-positive-color);;
}

.menu-proper {
  position: relative;
  background-color: var(--light-background);
  text-align: left;
  width: 20%;
  border-left: 2px solid var(--bs-nav-tab-border);
  border-bottom: 2px solid var(--bs-nav-tab-border);
  /* border-right: 2px solid var(--bs-nav-tab-border); */
  border-radius: 0px 0px 0px 5px;
  max-height: 210px;
  max-width: 220px;
  overflow-y: auto;
  margin-top: -4px;
}

.menu-proper ul li {
  border-bottom: 2px solid var(--bs-nav-tab-border);
  width: 100%;
  margin: 0;
  padding: 5px 7px;
}

@media screen and (max-width: 1024px) {
  
  .button-edit {
    right: 50px;
  }

  .menu-proper {
    width: 25%;
    left: 20px;
  }
}

@media screen and (max-width: 992px) {
  .character-page section {
    width: 100%;
  }

  .button-edit {
    right: 20px;
  }

  .menu-bar {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-proper {
    width: 25%;
    left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .character-page section {
    width: 100%;
  }

  .button-edit {
    right: 10px;
  }

  .menu-bar {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu-proper {
    width: 50%;
    left: 20px;
  }
}