.button-menu-jump.to-spell {
  margin-right: 50px;
}

.spell-level {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 143px;
}

.section-title.spells {
  margin-left: 230px;
}

.sticky-top.spell-level {
  top: calc(var(--sticky-top-under-nav) + 50px);
  background-color: white;
  z-index: 9997;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .button-menu-jump.to-spell {
    margin-right: 0px;
  }

  .spell-level {
    padding-left: 0px;
  }

  .section-title.spells {
    margin-left: 0;
  }
}