textarea {
  resize: none;
  min-width: 100%;
  border-radius: 10px;
  padding: 5px;
}

.character-sheet {
  border: 2px solid black;
  border-radius: 10px;
}

.character-background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.character-background div {
  margin-left: 5px;
  margin-right: 5px;
}

.character-saving-throws,
.character-skills {
  border: 2px solid black;
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}

.character-traits {
  display: flex;
  flex-direction: column;
}

.edit-input,
.edit-input:focus {
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
  text-align: center;
  width: 70px;
  padding: 0;
}

.container-hp,
.container-death-saves {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.container-saving-throws,
.container-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-general,
.container-score,
.character-traits {
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.container-score input {
  text-align: center;
}

.sheet-header {
  display: flex;
  justify-content: space-between;
}

.sheet-body {
  display: flex;
}


@media screen and (max-width: 500px) {
  .sheet-header,
  .character-background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .character-background div {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 660px) {
  .character-background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}