.link-to-page {
  color: black;
  text-decoration: none;
}

.summary {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
}

.summary:hover {
  box-shadow: 0px 0px 20px gray;
}

@media screen and (max-width: 1200px) {
  .summary {
    width: 40%;
  }
}

@media screen and (max-width: 1024px) {
  .summary {
    width: 40%;
    box-shadow: 0px 0px 15px gray;
  }
}

@media screen and (max-width: 992px) {
  .summary {
    width: 50%;
    box-shadow: 0px 0px 15px gray;
  }
}

@media screen and (max-width: 768px) {
  .summary {
    width: 70%;
    box-shadow: 0px 0px 15px gray;
  }
}