nav img {
  background-color: white;
  color: white;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  border-bottom: none !important;
}

.nav-link.active {
  background-color: beige !important;
  border-bottom: none !important;
}


@media screen and (max-width: 480px) {

  #side-menu {
    width: 80%;
  }
}
